*{
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
nav{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	background-color:rgba(255,0,0,0);
	/background-image: linear-gradient(to right, #00e600 ,  #4dff4d);/
}
nav .logo{
	color: #00cc00;
}
nav ul{
	list-style: none;
	width: 40%;
	display: flex;
	justify-content: space-between;
	
}
nav ul li a{
	text-decoration: none;
	padding: 5px;
	color: black;

}
nav ul li a:hover{
	background-color: yellow;
	border-radius: 10px;
	color: black;
}
nav ul li button{
	padding: 5px;
	border-radius: 10px;
	border: 0;
	cursor: pointer;
	background-color: #00cc00;
	color: white;
	font-weight: bold;
}
.container-satu{
	padding: 50px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	/*background-image: url(https://lh3.googleusercontent.com/proxy/M1dfwdsoz7Fwb72t7gmrZlN3u8Up0q7kVfyjbvom31NDdHOupbGL7_eOeS4O3wrS-hCtfJ7fzN1OcogBkscSdUv7qoQzREAdYplVh1d2EhHXRPZ_0YxFJReEcew8s_CcrVAxovO37jJ7SKWvpgzs5FcUau-G7g);*/
}
.container-satu .text-satu{
	width: 35%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
	box-sizing: border-box;
}
.text-satu input{
	width: 250px;
	height: 35px;
	border-radius: 15px;
	border: 0;
	box-shadow: 0 0 5px #888888;
}
.text-satu button{
	padding: 10px;
	border-radius: 15px;
	border: 0;
	background-color: #39e600;
	margin-left: -60px;
	box-shadow: 5px 0 4px #888888;
	cursor: pointer;
}
.container-satu .foto-satu{
	width: 52%;
}
.foto-satu img{
	margin: 0 100px;
}
.container-dua .teks-dua{
	text-align: center;
	padding: 50px 0 0 0;
}
.teks-dua p{
	padding: 10px;
}
.container-dua .foto-dua{
	padding: 50px 0;
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-around;
}
.foto-dua .ft1{
	width: 16%;
	text-align: center;
}
.foto-dua .ft2{
	width: 16%;
	text-align: center;
}
.foto-dua .ft3{
	width: 16%;
	text-align: center;
}
.container-tiga{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	/*background-color: yellow;*/
}
.container-tiga .teks-tiga{
	width: 44%;
	display: flex;
	justify-content: center;
	align-items: left;
	flex-direction: column;
	/*background-color: red;*/
}
.container-tiga .btn{
	width: 38%;
	height: 40px;
	display: flex;
	justify-content: flex-end;
}
.btn button{
	padding: 0 10px;
	border-radius: 50%;
	font-size: 20px;
	border: 0;
	cursor: pointer;
	background-color: #1aff1a;
	margin-left: 10px;
}
.container-empat{
	margin: auto;
	padding: 30px 0;
	width: 95%;
	display: flex;
	justify-content: space-between;
	/*background-color: yellow;*/
}
.container-empat a{
	width: 20%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	text-decoration: none;
	color: black;
}
.card-satu p{
	text-align: center;
}
.container-empat a{
	width: 20%;
	height: 250px;
	text-align: center;
	box-shadow: 0 0 5px black;
	border-radius: 10px;
	text-decoration: none;
	color: black;
}
.container-lima{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
.container-lima .foto-satu{
	width: 55%;
}
.container-lima .foto-satu img{
	width: 100%;
}
.container-lima .teks-satu{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/*background-color: yellow;*/
}
.container-lima .teks-satu h2{
	width: 100%;
	text-align: left;
}
.container-enam{
	width: 100%;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.container-enam .judul{
	width: 75%;
	/background-color: red;/
}
.container-enam .testy{
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.testy .testimoni-satu{
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 0 5px black;
	padding: 10px;
	box-sizing: border-box;
	justify-content: space-around;
}

.testy .testimoni-dua{
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 0 5px black;
	padding: 10px;
	box-sizing: border-box;
	justify-content: space-around;
}

.testy .testimoni-tiga{
	width: 250px;
	height: 200px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 0 5px black;
	padding: 10px;
	box-sizing: border-box;
	justify-content: space-around;
}
.profil{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.profil .circle{
	border-radius: 50%;
	width: 70px;
	height: 70px; 
	overflow: hidden;
	box-shadow: 0 0 2px black;

}
.profil p{
	width: 65%;
	padding: 7px 0 0 0;
}
.circle.satu img{
	margin-left: -85px;
}
.circle.dua img{
	margin-left: -20px;
}
.container-tujuh{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-tujuh{
	padding: 50px 0;
	box-sizing: content-box;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.container-tujuh h2{
	font-size: 30px;
}
.container-tujuh .partner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} 
.container-tujuh .partner ul{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.partner ul a{
	width: 25%;

}
.container-delapan{
	padding: 30px 0 40px 0;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.word-satu .mainn h2{
	font-size: 30px;
	padding: 0 0 20px 0;
}
.word-satu .mainn p{
	padding: 10px 0;
} 
.word-satu .input input{
	width: 90%;
	height: 30px;
	border-radius: 15px;
	border: 0;
	box-shadow: 0 0 3px black;
}
.word-satu .input button{
	padding: 8px;
	background-color: #009900;
	color: white;
	border: 0;
	border-radius: 15px;
	box-shadow: 0 0 3px black;
	margin-left: -40px;
}  
.container-delapan .word-satu{
	width: 25%;
}
.container-delapan .word{
	width: 15%;
	text-align: center;
	height: 170px;
}
.container-delapan .word a{
	text-decoration: none;
	color: black;
}
.container-delapan .word p{

	padding: 5px 0
}